TZ=Europe/Paris
PUID=1000
PGID=1000

#Base paths
DOCKER_ROOT=
MEDIA_ROOT=
FARM_ROOT=

#Gluetun / VPN secrets
VPN_SERVICE_PROVIDER=protonvpn
VPN_TYPE=wireguard
WIREGUARD_PRIVATE_KEY=
OPENVPN_PROTOCOL=udp
OPENVPN_USERNAME=
OPENVPN_PASSWORD=
OPENVPN_CIPHERS=AES-256-GCM
WIREGUARD_ADDRESSES=
SERVER_COUNTRIES=

#qBittorrent
QBITTORRENT_WEBUI_PORT=8080

#JOAL
JOAL_PORT=9092
JOAL_UI_PATH_PREFIX=
JOAL_UI_SECRET_TOKEN=